body{
    margin:0;
    padding:0;
}
.container{
    width:1400px;
    height:auto;
    margin: 20px auto;
}
.container{
    position: relative;
}
#paginations{
    position: absolute;
    bottom:-50px;
}