* {
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.bg-item:nth-child(1) {
    background-image: url("./images/1.jpg");
}

.bg-item:nth-child(2) {
    background-image: url("./images/2.jpg");
}

.bg-item:nth-child(3) {
    background-image: url("./images/3.jpg");
}

.bg-item:nth-child(4) {
    background-image: url("./images/4.jpg");
}

.bg-item:nth-child(5) {
    background-image: url("./images/5.jpg");
}

.bg-item:nth-child(6) {
    background-image: url("./images/6.jpg");
}

.bg-item:nth-child(7) {
    background-image: url("./images/7.jpg");
}

.bg-item:nth-child(8) {
    background-image: url("./images/8.jpg");
}

.bg-item:nth-child(9) {
    background-image: url("./images/9.jpg");
}
.bg-item {
    width: 100%;
    height: 100vh;
    background-attachment:fixed;
    background-size: cover;
}
.bottom,.top{
    width:35px;
    height:35px;
    position: fixed;
    left:0;
    right:0;
    margin:0 auto;
    cursor: pointer;
    -webkit-user-select:none ;
    -moz-appearance: button;
    -webkit-appearance: button;
    text-align: center;
    line-height:35px;
}
.top{
    top: 0;
}
.bottom{
    bottom:0;
}
