html{
    font-size: 62.5%;
}
*{
    margin:0;
    padding:0;
}
body{
    background: url("bg_newcard.png") 0 40px no-repeat;
    background-size:100% auto;


}

img{
    width:100%;
}
header{
    padding:5vw 0;
    position: relative;
}
header a{
    position: absolute;

    right:4vw;
}
.word {
    color:#fff;
    padding-left:17vw;;
    line-height:4rem;
}
label{
    font-weight:400;
}
input{
    border:0;
    text-indent: 2rem;
}
.item{
    border-bottom:1px solid gainsboro;
    padding:5vw 7vw;
    display: flex;
    justify-content: space-between;

}
.item2{
    justify-content: flex-start;
}

.num span{
    text-align: center;
    width: 7vw;
    display: inline-block;
    border: 1px solid gainsboro;
}
section{
    padding: 4vw;
    background: #f0f0f0;
}
.money,.pay{
    float: left;
    width:48vw;
    font-weight:bold;
    padding: 4vw 0;
}
.pay{

    color: #fff;
    background: #DF4531;
}