<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学生信息</title>
    <link rel="stylesheet" href="../style/students.css">
    <script src="../scripts/students.js"></script>

</head>
<body>
<div class="student-information">
    <div class="row">
        <div class="column">
            姓名
        </div>
        <div class="column">
            姓别
        </div>
        <div class="column">
            年龄
        </div>
        <div class="column">
           地址
        </div>
        <div class="column">
            爱好
        </div>
    </div>
</div>
</body>
</html>