<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章信息</title>

    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../lib/bootstrap-pagination/bootstrap-pagination.css">
    <link rel="stylesheet" href="../../style/document.css">



</head>
<body>
<div class="container">
    <table class="table table-bordered text-striped table-hover">
        <thead>
        <tr>
            <td>文章标题</td>
            <td>文章类型</td>
            <td>文章内容</td>
            <td>文章作者</td>
            <td>文章封面</td>
            <td>文章备注</td>
        </tr>
        <tbody id="dataBody">

        </tbody>

    </table>
    <div id="paginations" class="pagination fixed-bottom"></div>
</div>
<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form action="/updateUser" method="get"
              class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">更新数据</h4>
            </div>
            <div class="modal-body">
                <div class="user-info">
                    <label for="userName">用户名：</label>
                    <input type="text" name="userName" id="userName"> <br>
                    <label for="updateEmail">邮箱：</label>
                    <input id="updateEmail" name="email" type="text"><br>
                    <label for="mobile">手机号：</label>
                    <input id="mobile" name="mobile" type="text"><br>
                    <label for="realName">真实姓名：</label>
                    <input id="realName" name="realName" type="text"><br>
                    <label for="age">年龄：</label>
                    <input id="age" name="age" type="text"><br>
                    <label for="qq">QQ：</label>
                    <input id="qq" name="qq" type="text"><br>
                    <label for="avator">头像：</label>
                    <input id="avator" type="text">
                    <input type="hidden" value="" id="idInput" name="id">
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-default"
                       data-dismiss="modal" value="关闭" />
                <input id="saveMsg" type="submit" value="保存"
                       class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
<script src="../../lib/bootstrap-pagination/bootstrap-pagination.js"></script>
<script src="../../scripts/employee/employee.js"></script>
</body>
</html>